@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root{
  display: flex;
  min-width: 100vw;
  animation: fadeIn 1.5s;
} 

/* .app-container {
  display: flex;
  min-width: 100vh;
  
         /* Make the container take full viewport height */





.main-content {
  margin-left: 200px; /* Make space for the fixed sidebar */
   /* Take the remaining space */
  display: flex;
  justify-content: center; /* Center the inner content horizontally */
  align-items: center; /* Center the inner content vertically */
  
  padding: 20px;
  width: 84vw;
  height: 100vh; 
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}